<div class="containe">
    <div class="row">
        <div class="col text-center">
            <img src="img/1.jpg" alt="1" class="img-thumbnail rounded-circle" width="250">
            <h1 class="display-4">Decoz</h1>
            <p class="lead">Lecture | Content Creator</p>
        </div>
    </div>
</div>